@page "/Register"
@using EDHWebApp.Data
@inject IEmailSender EmailSender
@inject NavigationManager NavigationManager
<h3>Register</h3>

 <div class="container-login">
 			<div class="wrap-login">
 				
 				<span class="login-title">
 					<b>Create Account</b>
 				</span>
 				
            <div class="createAccount">
	            <div class="wrap-input">
		            <span class="label-input">Full name</span>
		            <input class="input" type="text" placeholder="Type your firstname" @bind="Name">
		            <span class="focus-input"></span>
	            </div>		
	            <div class="wrap-input">
		            <span class="label-input">Email</span>
		            <input class="input" type="text" placeholder="Type your lastname" @bind="Email">
		            <span class="focus-input"></span>
	            </div>					
	            <div class="wrap-input">
		            <span class="label-input">Company</span>
		            <input class="input" type="text" placeholder="Type your age" @bind="Company">
		            <span class="focus-input"></span>
	            </div>				
	            <div>
		            <button class="btn btn-dark" @onclick="RequestAccount"></button>
	            </div>
	            </div>

			 </div>	           
	 </div>

            

      
@code {
    public string Name { get; set; }
    public string Email { get; set; }
    public string Company { get; set; }

    private void RequestAccount()
    {
        EmailSender.sendAccountRequestEmailToAdmin(Email, Name ,Company);
        NavigationManager.NavigateTo("/");
    }

}