@layout MainLayoutSU
@page "/Register"
@using EDHWebApp.Data
@using EDHWebApp.Model
@inject IEmailSender EmailSender
@inject NavigationManager NavigationManager

 <div class="main_container2">
 			<div class="wrap-login">
 				<h3>Register</h3>

 				<span class="login-title">
 					<b>Request Registartion</b>
 				</span>
 				
            <div class="createAccount">
	            <div class="wrap-input">
		            <span class="label-input">Full name</span>
		            <input class="input" type="text" placeholder="Type your full name" @bind="Name">
		            <span class="focus-input"></span>
	            </div>		
	            <div class="wrap-input">
		            <span class="label-input">Email</span>
		            <input class="input" type="text" placeholder="Type your email" @bind="Email">
		            <span class="focus-input"></span>
	            </div>					
	            <div class="wrap-input">
		            <span class="label-input">Company</span>
		            <input class="input" type="text" placeholder="Type your company's name" @bind="Company">
		            <span class="focus-input"></span>
	            </div>				
	            <div class="regButton">
		            <button class="btn btn-outline-dark" @onclick="RequestAccount">Request Registartion</button>
	            </div>
	            </div>

			 </div>	           
	 </div>

            

      
@code {
    public string Name { get; set; }
    public string Email { get; set; }
    public string Company { get; set; }

	RegistrationUser regUser = new RegistrationUser();

    private async Task RequestAccount()
    {
	    regUser.FullName = Name;
	    regUser.Company = Company;
	    regUser.Email = Email;
        await EmailSender.sendAccountRequestEmailToAdmin(regUser);
        NavigationManager.NavigateTo("/");
    }

}