@inherits UserViewRazor
@page "/UserView"
@using System.Net.Mime
@using System.Drawing
@inject IJSRuntime _jsRuntime
@inject IEmailSender _emailSender
@using SixLabors.ImageSharp
@using SixLabors.ImageSharp.Drawing
@using SixLabors.ImageSharp.Drawing.Processing
@using SixLabors.ImageSharp.Processing;
@using SixLabors.ImageSharp.Formats.Jpeg
@using SixLabors.Fonts
@using System.Net.Http
@using System.IO
@using System.Runtime.CompilerServices
@using EDHWebApi.Model
@using EDHWebApp.Data
@using IdentityModel

<EditForm Model="_pictureEmail">
    <div class="main_container">
        <div class="col-md-12">
        </div>
        <div class="text">
            <h1>EDH Camera</h1>
        </div>

        <div>
            <InputFile runant="server" id="selectedPicture" type="file" name="image" accept="image/*" capture="environment" OnChange="GetPicture"></InputFile>
        </div>
    
        <div class="form-group">Payment Type:
            <InputSelect  Value="@_pictureEmail.PaymentType" style="margin-left: 3em" ValueExpression="@(()=>_pictureEmail.PaymentType)"
                          ValueChanged="@((string value) => OnValueChanged(value ))">
    
                <option >MasterCard</option>
                <option>Visa</option>
                <option>MobilePay</option>
                <option>Cash</option>
                <option>Other</option>
            </InputSelect>
        </div>
        
        <div>
            <button class="button" @onclick="CaptureFrame">Send Picture</button> <br />
        </div>
        
        <div style="color: #141619" >
            <p>
               @success
            </p>
        </div>
        
    </div>
</EditForm>



@if (!string.IsNullOrEmpty(frameUri))
{
    <img src="@frameUri" />
}

@code{
    
    protected override async Task OnInitializedAsync()
    {
        _pictureEmail.PaymentType = "MasterCard";
    }
    


  
   


}
