
@layout EmptyLayout

@page "/About"

<h3>About This App</h3>

<h1>How to Use</h1>
<p>
    First you need to Register. The app will send an email to the Admin. Please specify your full name, email address, and the name of the company you
    work for.
</p>
<h2>After Registration</h2>
<p>
    After registration you can use this app to take photos of receipts, and send them to your copmany's email address!
</p>

@code {
    
}