@using Client.Data.Validation
@using EDHWebApp.Authentication
@inherits LayoutComponentBase
@inject NavigationManager _navigationManager
@inject AuthenticationStateProvider _authenticationStateProvider

<PageTitle>EDHWebApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>
    <main>
        <div class="top-row px-4">
            <button @onclick="@OpenAbout">About</button>
            <button class="logout" @onclick="@LogOut">LogOut</button>

        </div>
        @* <div class="top-row px-4"> *@
        @* </div> *@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    /// <summary>
    /// Method used for logout function.
    /// </summary>
    private async Task LogOut()
    {
        await ((CustomAuthenticationStateProvider) _authenticationStateProvider).Logout();
        _navigationManager.NavigateTo("/");
    }

    public void OpenAbout()
    {
        _navigationManager.NavigateTo("/About");
    }
}