@using Client.Authentication
@inherits LayoutComponentBase
@inject NavigationManager _navigationManager
@inject AuthenticationStateProvider _authenticationStateProvider

<PageTitle>EDHWebApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>
    
  
    
    <div class="main">
        <div class="top-row px-4">
            <a class="logout" @onclick="@LogOut">LogOut</a>
        </div>
    </div>
    

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    /// <summary>
    /// Method used for logout function.
    /// </summary>
    private async Task LogOut()
    {
        await ((CustomAuthenticationStateProvider) _authenticationStateProvider).Logout();
        _navigationManager.NavigateTo("/");
    }
}