@using Client.Data.Validation
@using EDHWebApp.Authentication
@inherits LayoutComponentBase
@inject NavigationManager _navigationManager
@inject AuthenticationStateProvider _authenticationStateProvider

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<PageTitle>EDHWebApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>
    <main class="container-fluid">


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    /// <summary>
    /// Method used for logout function.
    /// </summary>
    private async Task LogOut()
    {
        await ((CustomAuthenticationStateProvider) _authenticationStateProvider).Logout();
        _navigationManager.NavigateTo("/");
    }

    public void OpenAbout()
    {
        _navigationManager.NavigateTo("/About");
    }
}