@using Client.Data.Validation
@using EDHWebApp.Authentication
@inherits LayoutComponentBase
@inject NavigationManager _navigationManager
@inject AuthenticationStateProvider _authenticationStateProvider

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<PageTitle>EDHWebApp</PageTitle>


    <div class="page">
        <div class="sidebar">
            <NavMenu/>
        </div>
        @* <div class="container"> *@

        <main>
        

            <article class="content px-4">
                <div class="container-fluid">
                    <div class="row">
                        @Body
                    </div>
                </div>
            </article>
        </main>

            @* </div> *@
</div>

@code
{

}